.login {

background-image: url('../img/fondo.jpg');

background-position: center center;

background-repeat: no-repeat;

background-attachment: fixed;

background-size: cover;

}

.form-login{
    background-color: rgba(255, 255, 228, 0.7);
}

.margin-form{
    margin-bottom: 100px;
}

.btn{
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(248, 208, 0, 1)
}

.btn:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8)
}